.AuthForm{
    text-align: center;
    /* background: green; */
}

.AuthForm h3{
    font-size: 36px;
    color: #141b4d;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    letter-spacing: -.1rem;
}

.smallWith{
    font-size: small;
    margin: 50px 0px;
  
    padding: 0px;
}

.Form{
    text-align: left;
    padding: 20px;
    box-shadow: 1px 0px 5px #eee;
    /* min-width: 300px; */
    max-width: 400px;
    margin: 0 auto;
}


.preForm{
    text-align: center;
}
.preForm p{
    margin: 0px;
    padding: 0px;
}
.preForm img{
    margin: 0px;
}


i{
    color: #141b4d;

}

.NameCont{
    display: flex;
    margin-top: 40px;
    /* justify-content: space-between; */
    /* padding: 10px; */
    width: 100%;
}
.NameCont div{
    flex: 1;
    
}
.NameCont div:first-child{
    margin-right: 10px;
}