.Toggler {
  margin: 10px 0 10px 20px;
  width: 40px;
  cursor: pointer;
  height: 20px;
}
.Close {
  cursor: pointer;
  margin: 10px 21.6px 10px 20px;
}

.Toggler div {
  background: #fff;
  padding: 2px;
  margin-bottom: 5px;
  transition: 0.1s;
  width: 50%;
}

@media (min-width: 950px) {
  .Toggler {
    display: none;
  }
}
