* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

.Home {
  margin: 0px;
  padding: 0px;
}

.BannerCont {
  display: flex;
  padding: 0px;
  /* color: #f55748; */
  /* background: rgb(230, 154, 158);
  background: #e6e7e9; */
  /* background: #d98afe; */
  transition: 1.5s;
  background: #fe998a;
  overflow: hidden;
  margin: 0px;
  border-bottom: 8px solid #141b4d;
  /* height: 300px; */
  /* min-height: 300px; */
  padding-bottom: 0px !important;
  position: relative;
}
.MOC {
  position: absolute;
  /* box-shadow: 1px 0px 14px #444; */
  height: 90%;
  left: 58px;
  /* bottom: 0px; */
  transition: 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  /* bottom: -90px; */
  /* top: 10px; */
  opacity: 0;
  bottom: -230px;
}

.animateImage {
  opacity: 1;
  bottom: 0px;

  animation: animateman 1.5s ease-out;
}
.BannerCont img:first-child {
  width: 100%;
  margin: 0px;
  /* height: 100%; */
  flex: 1;
}

.Left h1 {
  margin: 0px;
  max-width: 450px;
  font-size: 45px;
  color: #444;
  font-weight: 700;
}

.rangeOfCategories {
  background: #f7f6f6;
  padding: 20px;
}

.rangeOfCategoriesCont {
  max-width: 1200px;
  display: flex;
  padding: 30px;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  margin: auto;
}

.rangeOfCategoriesCont h1 {
  text-align: center;
}

.rangeOfCategories .RangeLeft {
  flex: 1;
  /* background: gold; */
}

.rangeOfCategories .RangeRight {
  display: flex;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  flex: 1;
  /* background: #000; */
}
.rangeOfCategories .RangeRight p {
  min-width: 90px;
  padding: 10px;
  color: #999;
  /* height: 30px; */
  border-radius: 10px;
  margin: 5px;
  background: rgb(233, 232, 232);
}

/* FREELANCE SECTION */

.FreelanceSection,
.RecruiterSection,
.JobSeekerSection,
.ProjectOwnerSection {
  padding: 40px 20px;
}

.FreelanceCont,
.ProjectOwnerCont,
.RecruiterCont,
.JobseekerCont {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.ThreeFlexRow {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* max-width: 1200px; */
  margin: auto;
}
.Left {
  flex: 1;
}

.Right {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 20px;
  justify-content: space-between;
}

.TopContainer p {
  line-height: 30px;
  color: #999;
}

.Right h1 {
  color: #444;
}

.userType {
  color: #2b3189;
  font-size: 1.2em;
}
.Left {
  display: none;
}
.Left img {
  max-height: 300px;
  box-shadow: 1px 0px 14px #bbb;
  /* display: none; */
}

.ButtonCont button {
  width: 100% !important;
  max-width: 300px;
  margin: 20px 0px;
  background: linear-gradient(#ff9f91, #ff9f91, #fc8b7a, #fc8b7a) !important;
}

.column {
  display: flex;
  flex-flow: column !important;
}

.lightpeach {
  background: rgba(230, 154, 158, 0.082);
}

/* About us */

.AboutUs {
  /* max-width: 1200px; */
  margin: auto;
  padding: 20px;
  background-color: rgb(252, 249, 249);
}

.AboutUs h2 {
  text-align: center;
  padding: 20px;
  color: #333;
  font-size: 20px;
}

.ThreeFlexRow {
  justify-content: space-between;
}

.Segment {
  flex: 1;
  max-width: 650px;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
}

.Segment p {
  text-align: center;
  color: #999;
  font-weight: 200;

  font-size: 16px;
}

.Segment img {
  height: 140px;
  /* width: 30%; */
  text-align: center;
}

.Text {
  color: white;
  position: absolute;
  top: 50%;
  max-width: 420px;
  transform: translateY(-50%);
  left: 40%;

  padding: 10px;
}

.Text h2 {
  font-size: 150%;
  opacity: 0;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(-50px);
  /* color: #ff7300; */
  /* position: absolute; */
}

.Text p {
  font-size: 40%;
  opacity: 0;

  transform: translateY(-50px);
  transition: 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* animation: animatetext 1.3s linear; */
  display: none;
}

h2.animateH2Text {
  opacity: 1 !important;
  /* transition: 0.5s; */
  transform: translateY(0px);

  /* animation: animatetext 1s linear; */
}

p.animatePText {
  opacity: 1 !important;
  /* transition: 0.5s; */
  transform: translateY(0px);
  /* animation: animatetext 1.3s linear; */
}

.CompleteReg {
  padding: 20px;
  background: rgba(32, 218, 109, 0.1337);
  color: #666;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompleteReg h2 {
  font-weight: 100;
  font-size: 20px;
}

@media (min-width: 620px) {
  .Text {
    color: white;
    position: absolute;
    top: 50%;
    max-width: 420px;
    transform: translateY(-50%);
    left: 40%;
    padding: 10px;
  }

  .Text h2 {
    font-size: 350%;
  }

  .Text p {
    font-size: 80%;
    display: block;
  }
}

@media (min-width: 920px) {
  .Segment {
    max-width: 350px;
  }
  .Text {
    color: white;
    position: absolute;
    top: 50%;
    max-width: 520px;
    transform: translateY(-50%);
    left: 40%;
    padding: 10px;
  }

  .Text h2 {
    font-size: 450%;
  }

  .Text p {
    font-size: 100%;
  }
  .Left {
    display: block;
  }

  .ThreeFlexRow {
    max-width: 1200px;
    align-items: flex-start;

    flex-flow: row;
  }

  .rangeOfCategoriesCont {
    flex-flow: row;
    align-items: flex-start;
  }
}

@keyframes animateman {
  from {
    opacity: 0;
    bottom: -230px;
  }

  to {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animatetext {
  from {
    opacity: 0;

    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
    bottom: 0px;
  }
}
