.Layout {
  /* height: 0px; */
  width: 100%;
  opacity: 1;
  background: #141b4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  color: white;
  margin-left: 20px;
  margin: auto;
  flex: 1;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo p {
  font-weight: 1200;
}
.LoaderFade {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  position: fixed;
  z-index: 1200;
}
.ErrorCont {
  color: white;
  position: fixed;

  width: 330px;
  z-index: 3000;
  right: 0;
  top: 80px;
}

.Routes {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.Routes li {
  color: white;
  list-style: none;

  padding: 10px;
  text-decoration: none;
}
.Routes a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.Routes a:hover {
  color: #ec6b67;
  transition: 0.4s;
}
.DesktopOnly {
  display: none;
}
.MobileOnly {
  display: flex;
}

.DropDownBody {
  /* pointer-events: none; */
  position: fixed;
  background: #161f5fda;
  height: 100%;
  width: 100%;
  z-index: 3000;
  padding: 140px;
}

.DropDownBody {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 150px;
  /* background: #000; */
}
.DropDownBody li {
  list-style: none;
  text-align: center;
  /* background: gold; */
  font-size: 30px;
  margin-bottom: 20px;
}
.DropDownBody li a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-family: inherit;
}

@media (min-width: 500px) {
  .DesktopOnly {
    display: flex;
  }
  .MobileOnly {
    display: none;
  }
  .Logo {
    justify-content: flex-start;
  }
}
